@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.devide {
  width: 100%;
  height: 50px;
}

#Icons, #Fonts, #Lists {
  border-style: solid;
  border-width: 3px;
}

#Icons {
  border-color: black;
  color: blue;
}

a:visited {
  color: blue;
}

#Fonts {
  border-color: blue;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

#Lists {
  border-color: orange;
}

.List {
  list-style-type: none;
}