:root {
  --bg-color: #f5f5f5;
  --input-color: #111;
}

body {
  background-color: var(--bg-color);
}

.dark-mode {
  --bg-color: #111;
  --input-color: #f5f5f5;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label {
  background-color: var(--bg-color);
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-label .ball {
  background-color: var(--bg-color);
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 5px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
  transform: translateX(35px);
}