/* 리스트 마커 초기화 */
ul, ol { list-style : none;}

.blackDiv{
    border: 3px solid black;
}

.blueDiv{
    border: 3px solid blue;
}

.orangeDiv{
    border: 3px solid orange;
}

.transparentDiv{
    width: 100%;
    height: 50px;
}

.googleFonts{
    font-family: "Oswald", sans-serif;
    font-weight: 200;
}