.icons {
  border: 3px solid black;
}
.div-margin {
  width: 100%;
  height: 50px;
}
.using-font {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  border: 3px solid blue;
}
.remove-marker {
  border: 3px solid orange;
}
ol {
  list-style: none;
}