.calcu {
    margin: 100px auto;
    width: 300px;
    height: 400px;
    border: 1px solid transparent;
    background-color: rgb(151, 151, 151);
    border-radius: 5px;
  }
  .input {
    height: 20px;
    text-align: right;
  }
  .display {
    display: flex;
    flex-direction: column;
    height: 50px;
    font-size: 36px;
    font-weight: 700;
    border: 1px solid wheat;
    margin: 5px 5px 0 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: #363636;
    color: #fff;
  }
  .buttons {
    padding: 5px;
    display: grid;
    height: calc(100% - 85px);
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
  }
  button {
    color: #fff;
    font-size: 36px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .num {
    background-color: #494949;
  }
  .operator, .result, .ac {
    background-color: rgb(255, 188, 72);
  }