* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: grid; // 그리드
    place-content: center center; 
    align-items: center;
    font-family: 'Poppins';
    background-color: hsl(0, 0%, 11%);

    .home {
        p.animated-text {
            font-size: clamp(2rem, calc(2rem + 1.5vw) , 8rem);

            & .letter { // 변수 설정
                --_fw-900 : 900;
                --_fw-700 : 700;
                --_fw-400 : 400;
                --_clr-900 : hsl(0,0%, 100%);
                --_clr-700 : hsl(0,0%, 80%);
                --_clr-400 : hsl(0,0%, 60%);
                
                font-weight: var(--_fw-900);
                transition: font-weight 0.5s ease; // 0.5초 동안 크기 변화

                // 글자 변화 로직
                &:hover {
                    font-weight: var(--_fw-900);
                    color: var(--_clr-900);
                }

                &:hover + .letter {
                    font-weight: var(--_fw-700);
                    color: var(--_clr-700);
                }

                &:hover + .letter + .letter {
                    font-weight: var(--_fw-400);
                    color: var(--_clr-400);
                }

                &:has(+ .letter:hover) {
                    font-weight: var(--_fw-700);
                    color: var(--_clr-700);
                }

                &:has(+ .letter + .letter:hover) {
                    font-weight: var(--_fw-400);
                    color: var(--_clr-400);
                }
            }
        }
    }
}